/*~~~~~~~~~~~~~~~~~~~~~~~~~
FONT FAMILY
~~~~~~~~~~~~~~~~~~~~~~~~~*/

@mixin font-face($font-family, $weight, $url, $file-name) {
	@font-face {
	font-family: '#{$font-family}';
	src: url('#{$url}#{$file-name}.eot');
	src: url('#{$url}#{$file-name}.eot?#iefix') format('embedded-opentype'),
	url('#{$url}#{$file-name}.woff2') format('woff2'),
	url('#{$url}#{$file-name}.woff') format('woff'),
	url('#{$url}#{$file-name}.ttf') format('truetype'),
	url('#{$url}#{$file-name}.svg##{$file-name}') format('svg');
	font-weight: #{$weight};
	font-display: swap;
	font-style: normal;
	}
	}

@include font-face('Jost', 300, '../../fonts/', 'Jost-Thin');
@font-face {
    font-family: 'Jost';
    src: url('../../fonts/Jost-LightItalic.eot');
    src: url('../../fonts/Jost-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Jost-LightItalic.woff2') format('woff2'),
        url('../../fonts/Jost-LightItalic.woff') format('woff'),
        url('../../fonts/Jost-LightItalic.ttf') format('truetype'),
        url('../../fonts/Jost-LightItalic.svg#Jost-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@include font-face('Jost', 400, '../../fonts/', 'Jost-Regular');
@include font-face('Jost', 500, '../../fonts/', 'Jost-Medium');
@include font-face('Jost', 600, '../../fonts/', 'Jost-SemiBold');
@include font-face('Jost', 700, '../../fonts/', 'Jost-Bold');
@include font-face('Montserrat Alternates', 200, '../../fonts/', 'MontserratAlternates-ExtraLight');
@include font-face('Montserrat Alternates', 400, '../../fonts/', 'MontserratAlternates-Regular');
@include font-face('Montserrat Alternates', 500, '../../fonts/', 'MontserratAlternates-Medium');
@include font-face('Montserrat Alternates', 600, '../../fonts/', 'MontserratAlternates-SemiBold');
@include font-face('Montserrat Alternates', 700, '../../fonts/', 'MontserratAlternates-Bold');

@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../../fonts/MontserratAlternates-ExtraLightItalic.eot');
    src: url('../../fonts/MontserratAlternates-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/MontserratAlternates-ExtraLightItalic.woff') format('woff'),
        url('../../fonts/MontserratAlternates-ExtraLightItalic.ttf') format('truetype'),
        url('../../fonts/MontserratAlternates-ExtraLightItalic.svg#MontserratAlternates-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@include font-face('IBM Plex Sans', 400, '../../fonts/', 'IBMPlexSans');
@include font-face('Inter', 400, '../../fonts/', 'IBMPlexSans');





