/*~~~~~~~~~~~~~~~~~~~~~~~~~
INDEX PAGE	
~~~~~~~~~~~~~~~~~~~~~~~~~*/
.index-page {
	header {
		position: absolute;
		left: 0;
		left: 0;
		background: rgba(0, 98, 135, 0.45);
	}

	.title-1 {
		text-align: center;
	}

	@at-root .starting {
		position: relative;
		height: 100vh;
		min-height: 900px;

		&__bg {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: right top;
			}
		}

		&__content {
			position: absolute;
			left: 50%;
			top: 305px;
			padding: 0 30px;
			width: 100%;
			font-size: 48px; 
			color: var(--color-primary);
			text-align: center;
			transform: translateX(-50%);
		}

		&__title {
			font-weight: 600;
			font-size: 2em;
			line-height: 1.15em;
			font-family: var(--fm-2);
			text-transform: uppercase;
			text-shadow: 1px 1px 30px rgba(255, 255, 255, 0.05);
		}

		&__subtitle {
			margin-top: 30px;
			font-weight: 500;
			font-size: 1em;
			line-height: 1.21em;
			font-family: var(--fm-1);
		}

		@include desctop-mid {
			min-height: 800px;

			&__content {
				font-size: 36px;
			}
		}

		@include desctop-min {
			min-height: 750px;

			&__content {
				top: 280px;
				font-size: 36px;
			}
		}

		@include table {
			min-height: 600px;

			&__content {
				top: 200px;
				font-size: 36px;
			}

			&__title {
				font-weight: 500;
				color: var(--color-secondary);
			}
		}

		@include mobile {
			min-height: 500px;

			&__content {
				top: 180px;
				font-size: 4.8vw;
			}
		}
	}

	@at-root .utp {
		font-size: 20px;

		&__container {
			display: flex;
		}

		&__aside {
			padding: 228px 110px 49px 229px;
			font-family: var(--fm-2);
			color: #FFFFFF;
			background-color: var(--color-primary);

			span:first-child {
				font-weight: 600;
				font-size: 17.5em;
				line-height: 1;
			}
			span:last-child {
				display: block;
				margin-top: 1.25em;
				font-weight: 500;
				font-size: 3.2em;
				line-height: 92px;
			}
		}

		&__list {
			display: grid;
			grid-template-columns: repeat(3, auto);
			column-gap: 90px;
			row-gap: 80px;
			padding: 85px 0 85px 110px;
		}

		&__item {
			position: relative;
			padding: 21.81% 0 7.27% 21.81%;
			width:  275px;
			min-height: 15em;

			&::before {
				content: attr(data-label);
				position: absolute;
				z-index: -1;
				top: 1.4%;
				left: -20%;
				font-weight: 600;
				font-size: 14.4em;
				font-family: var(--fm-2);
				line-height: 1;
				color: rgba(34, 144, 185, 0.03);
				transform: rotate(-90deg);
			}

			&-number {
				position: absolute;
				left: 0;
				top: 0;
				font-weight: 600;
				font-family: var(--fm-2);
				font-size: 3.2em;
				line-height: 1;
				color: rgba(34, 144, 185, 0.2);
				transform: rotate(-90deg);

				&::after {
					content: "";
					position: absolute;
					top: 8px;
					right: calc(100% + 20px);
					width: 2.65em;
					height: 0.08em;
					background-color: var(--color-primary);
				}
			}

			&-text {
				margin-top: 1.1em;
				font-weight: 500;
				font-size: 1em;
				line-height: (24/20);
				text-align: center;
			}

			&-ic {
				margin: 0 auto;
				
			}

			&:nth-of-type(1) &-ic {
				width: 3.2em;
				height: 3.2em;
			}
			&:nth-of-type(2) &-ic {
				width: 3em;
				height: 3em;
			}
			&:nth-of-type(3) &-ic {
				width: 3.253em;
				height: 3.25em;
			}
			&:nth-of-type(4) &-ic {
				width: 3.35em;
				height: 3.35em;
			}
			&:nth-of-type(5) &-ic {
				width: 3.6em;
				height: 2.8em;
			}
			&:nth-of-type(6) &-ic {
				width: 2.9em;
				height: 2.55em;
			}
			&:nth-of-type(7) &-ic {
				width: 3.25em;
				height: 3.25em;
			}
			&:nth-of-type(8) &-ic {
				width: 4.6em;
				height: 4.45em;
			}
			&:nth-of-type(9) &-ic {
				width: 2.85em;
				height: 3.22em;
			}
		}

		
		@include desctop {
			font-size: 1.04vw;
	
			&__aside {
				padding: 11.8% 5.7% 2.6% 11.9%;
	
				span:last-child {
					margin-top: 1.3vw;
					line-height: 4.79vw;
				}
			}
	
			&__list {
				column-gap: 4.68vw;
				row-gap: 4.16vw;
				padding: 4.42vw 0 4.42vw 5.72vw;
			}
	
			&__item {
				width:  rubberSize(210, 285, $table, $desctop);
			}
		}

		@include desctop-mid {
			&__list {
				column-gap: 2.22vw;
				row-gap: 30px;
				padding: 4.42vw 0 4.42vw 5.72vw;
			}

			&__item {
				font-size: 14px;
			}
		}

		@include desctop-min {
			&__item {
				font-size: 14px;
			}
		}

		@include table {
			font-size: 18px;

			&__container {
				flex-direction: column;
			}

			&__aside {
				display: flex;
				justify-content: center;
				align-items: flex-end;
				padding: 80px 20px;

				span {
					&:first-child {
						margin: -4px 40px -40px 0;
					}
					&:last-child {
						font-size: 2.4em;
						line-height: 1.4em;
					}
				}
			}

			&__list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 0;
				row-gap: 0;
				margin: 0 0 -40px -30px;
				padding: 45px 50px;
			}

			&__item {
				margin: 0 0 40px 30px;
				padding: 52px 0 17.5px 52px;
				width: 240px;
				min-height: 220px;
			}
		}

		@include mobile {
			font-size: 16px;

			&__aside {
				padding: 50px 10px;

				span {
					&:first-child {
						margin: 0px 20px -27px 0;
   						font-size: 14em;
					}
					&:last-child {
						font-size: 1.8em;
						line-height: 1.4em;
					}
				}
			}

			&__list {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				column-gap: 0;
				row-gap: 0;
				margin: 0 0 -40px -30px;
				padding: 45px 50px;
			}

			&__item {
				margin: 0 0 40px 30px;
				padding: 0 0 17.5px 25px;
				width: 240px;
				min-height: 220px;
				font-size: 16px;

				&::before {
					display: none;
				}

				&-number {
					top: 25px;
					font-size: 2.5em;

					&:after {
						right: calc(100% + 10px);
						width: 2.1em;
					}
				}

				&-text {
					margin-top: 3em;
				}
			}
		}
	}	

	&__services {
		margin-top: 84px;
	}

	&__calculator {
		margin-top: 200px;
	}

	&__tablets {
		margin-top: 32px;
	}

	@include desctop-mid {
		&__services {
			margin-top: 70px;
		}

		&__calculator {
			margin-top: 150px;
		}
	}

	@include table {
		&__services {
			margin-top: 60px;
		}
		
		&__calculator {
			margin-top: 110px;
		}
	}

	@include mobile {
		&__services {
			margin-top: 45 px;
		}

		&__calculator {
			margin-top: 70px;
		}

		&__tablets {
			display: none;
		}
	}
}

/*BLOCKS INDEX PAGE*/
/*servises*/
.services {
	position: relative;
	padding: 99px 0 240px;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;

		&-left {
			position: absolute;
			top: 232px;
			left: 0;
			bottom: 0;
			width: 47.6%;
			background: #DEEEF5;
		}

		&-right {
			position: absolute;
			top: 0;
			right: 0;
			width: 48.8%;
			height: 88.6%;
			background: #F1FAFE;
		}

		&-right::before,
		&-left::before {
			content: "";
			position: absolute;
			z-index: 0;
			display: block;
			background: url(../../img/icons/points-bg.png) no-repeat;
			background-size: contain;
			background-position: center;
		}

		&-right::before {
			top: 105px;
			right: 16%;
			width: 104px;
			height: 97px;
		}

		&-left::before {
			bottom: -23px;
			left: 36.6%;
			width: 165px;
			height: 164px;
		}
	}

	@media (min-width: #{$desctop-min}px) {
		&__container {
			max-width: 1127px;
		}
	}

	&__title {
		margin-bottom: 117px;
		text-align: center;
	}

	&__cards {
		display: flex;
		flex-wrap: wrap;
		margin: 0 0 -37px -40px;
	}

	@at-root .service-card {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 0 0 37px 40px;
		padding: 31px 11px 19px; 
		min-height: 354px;
		width: calc(33.33% - 40px);
		background-color: #fff;
		border-radius: 20px;
		box-shadow: 10px 25px 50px rgba(110, 146, 159, 0.2);

		&__title,
		&__text {
			/* autoprefixer: off */
			display: -webkit-box;
			-webkit-box-orient: vertical;
			/* autoprefixer: on */
			overflow: hidden;
		}

		&__title {
			text-align: center;
			-webkit-line-clamp: 5;
		}

		&__text,
		&__btn {
			position: absolute;
		}

		&__text {
			top: 204px;
			left: 45px;
			right: 39px;
			bottom: 45px;
			font-weight: 300;
			font-size: 18px;
			line-height: (28/18);
			color: #7D7987;
			-webkit-line-clamp: 4;
		}

		&__btn {
			right: 17px;
			bottom: 12px;
			box-sizing: content-box;
			padding: 10px;
		}
	}

	@include desctop-min {
		padding: 70px 0 170px;

		&__bg {
			&-left {
				top: 165px;
			}

			&-right::before {
				top: 105px;
				right: 16%;
				width: 104px;
				height: 97px;
			}
	
			&-left::before {
				bottom: -23px;
				left: 36.6%;
				width: 165px;
				height: 164px;
			}
		}

		&__title {
			margin-bottom: 80px;
		}
	}

	@include table {
		&__bg {
			&-left {
				position: absolute;
				top: 0;
				width: 68.14%;
			}

			&-right {
				top: 88px;
				bottom: 68px;
				z-index: -2;
				height: auto;
			}

			&-right::before,
			&-left::before {
				display: none;
			}
		}

		@at-root .service-card {
			width: calc(50% - 40px);
		}
	}

	@include mobile {
		padding: 55px 0 120px;

		&__bg {
			&-right {
				top: 60px;
			}
		}

		&__title {
			margin-bottom: 40px;
		}
		&__cards {
			justify-content: center;
		}

		@at-root .service-card {
			position: relative;
			display: flex;
			flex-direction: column;
			margin: 0 0 37px 40px;
			padding: 25px 11px 19px; 
			min-height: 250px;
			max-width: 300px;
			min-width: 270px;
			border-radius: 13px;
	
			&__title {
				-webkit-line-clamp: 4;
			}
	
			&__text {
				top: 115px;
				left: 20px;
				right: 20px;
				bottom: 50px;
				font-size: 14px;
			}

		}
	}
}

/*tablets*/
.tablets {
	.accardion {
		&__item-header {
			text-indent: -10px;
		}
		&__item-list {
			padding: 0 2px;
			overflow-x: auto;
		}
	}

	.table {
		min-width: 900px;
	}
}

/*stages*/
.stages {
	position: relative;
	padding: 230px 0 295px;

	
	&::before,
	&::after {
		content: "";
		position: absolute;
		display: block;
		background: url(./../../img/icons/points-bg--type-2.png) no-repeat;
		background-size: contain;
	}

	&::before {
		left: 6.875%;
		bottom: 62px;
		width: 179px;
		height: 174px;
	}

	&::after {
		left: 46.8%;
    	top: 41%;
		width: 91px;
		height: 88.6px;

	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;
		height: 100%;
		opacity: 0.05;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__title {
		margin-bottom: 95px;
		text-align: center;
	}

	@include desctop-mid {
		padding: 190px 0 220px;
	}

	@include desctop-min {
		padding: 180px 0 140px;
		
		&__title {
			margin-bottom: 70px;
		}
	}

	@include table {
		padding: 65px 0 100px;
		
		&::before,
		&::after {
			display: none;
		}
	}

	@include mobile {
		&__title {
			margin-bottom: 35px;
		}
	}
}

/*slider stages*/
.slider-stages {
	display: flex;
	margin-left: -36px;
	padding: 0 0 36px 36px;

	&-wrap {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__slide {
		display: flex;
		align-items: center;
		opacity: 0 !important;

		&.swiper-slide-active {
			opacity: 1 !important;
		}

		&-img {
			position: relative;
			z-index: 1;
			flex-shrink: 0;
			width: 676px;
			height: 467px;
			background-repeat: no-repeat;
			background-size: cover;
			border-radius: 20px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: inherit;
			}

			&::before,
			&::after {
				content: "";
				position: absolute;
				display: block;
				top: 0%;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: inherit;
			}

			&::before {
				border: 1px solid rgba(0,0,0, 0.1);
			}
			&::after {
				z-index: -1;
				background: rgba(109, 215, 255, 0.15);
				transform: translate(-5.17%, 7.7%);
			}
			
		}

		&-textBox {
			margin-left: 45px;
			padding: 25px 0 0;
			max-width: 480px;
		}

		&-title {
			margin-bottom: 43px;
			font-weight: 600;
			font-size: 30px;
			line-height: (37/30);
			color: #565656;
		}
	}

	&-pagination {
		display: flex;
		flex-direction: column;
		margin-left: 30px;

		.swiper-pagination-bullet {
			display: block;
			width: 44px;
			height: 44px;
			font-size: 20px;
			line-height: 44px;
			font-weight: 400;
			font-family: var(--fm-2);
			text-align: center;
			color: #555555;
			background-color: #fff;
			opacity: 1;
			box-shadow: 0px 11px 22px -12px rgba(34, 144, 185, 0.7);
			transition: background-color, color;
			transition-duration: $duration;

			&:not(:last-child) {
				margin-bottom: 17px;
			}

			&.swiper-pagination-bullet-active {
				background-color: var(--color-primary);
				color: #fff;
			}
		}
	}

	&-nav {
		display: none;
	}

	@include desctop-mid {
		&__slide {
			&-img {
				width: 590px;
				height: 407px;
				border-radius: 18px;
			}
		}
	}

	@include desctop-min {
		&__slide {
			&-img {
				width: 490px;
				height: 338px;
				border-radius: 18px;
			}
		}
	}

	@include table {
		margin: 0;
		padding: 0 60px;

		&__slide {
			flex-direction: column;
			&-img {
				margin: 0 auto;
				width: 100%;
				max-width: 676px;
				height: auto;
				border-radius: 18px;

				&::after {
					position: static;
					padding-bottom: 69%;
					width: auto;
					height: auto;
					background-color: transparent;
					transform: none;
				}

				img {
					position: absolute;
				}
			}

			&-textBox {
				margin-left: 0;
				max-width: none;
			}

			&-title {
				margin-bottom: 20px;
				font-size: 24px;
			}
		}

		&-pagination {
			display: none;
		}

		//nav
		&-nav {
			position: absolute;
			left: 0;
			top: 0;
			padding-top: 57.2%;
			width: 100%;
			display: block;
		}

		&-arr {
			position: absolute;
			z-index: 5;
			top: 50%;
			display: block;
			width: 50px;
			height: 50px;
			transform: translateY(-50%);

			svg {
				stroke: var(--color-primary);
				transition: stroke $duration;
			}

			&:hover svg {
				stroke: #3f3f3f;
			}
		}

		&-next {
			right: 0;
		}

		&-prev {
			left: 0;
			transform: translateY(-50%) rotate(-180deg);
		}
	}

	@include mobile {
		padding: 0 45px;

		&__slide {
			&-title {
				margin-bottom: 15px;
				font-size: 20px;
			}
		}

		&-arr {
			width: 35px;
			height: 35px;
		}
	}

	@media (max-width: 500px) {
		&-nav {
			padding-top: 55%;
		}
	}
}

/*portfolio*/
.portfolio {
	padding: 164px 0 129px;
	background-color: var(--color-primary);

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
		row-gap: 45px;
		column-gap: 40px;
		column-gap: 2.83%;
		width: 100%;
	}

	&__card {
		max-width: 321px;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 15px;
		filter: drop-shadow(2px 4px 20px rgba(0, 0, 0, 0.2));

		&::before {
			content: '';
			display: block;
			padding-bottom: 73.2%;
		}
	}

	&__title {
		margin-bottom: 45px;
		color: #fff;
	}

	&__btn {
		margin-top: 89px;
	}

	@include desctop-mid {
		padding: 137.5px 0 108px;

		&__container {
			padding: 0 40px;
			max-width: none;
		}

		&__list {
			column-gap: 33px;
			row-gap: 38px;
		}
	}

	@include desctop-min {
		padding: 114.5px 0 90px;

		&__list {
			column-gap: 28px;
			row-gap: 31.6px;
		}

		&__btn {
			margin-top: 80px;
		}
	}

	@include table {
		padding: 95px 0 75px;

		&__list {
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			justify-content: center;
		}
	}

	@include mobile {
		padding: 40px 0 60px;

		&__container {
			padding: 0 20px;
		}

		&__title {
			margin-bottom: 35px;
		}

		&__list {
			column-gap: 25px;
			row-gap: 25px;
		}

		&__card {
			margin: 0 auto;
			width: 100%;
		}

		&__btn {
			margin-top: 55px;
		}
	}
}

/*contacts*/
.contacts {
	padding:  92px 0 130px;
	background: #F6FAFC;

	&__title {
		margin-bottom: 100px;
	}

	&__row {
		position: relative;
	}

	&__col {
		width: 50%;
	}

	&__map-wrap {
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 1;
		right: 0;

		&::before {
			content: '';
			position: absolute;
			bottom: -2.22%;
			left: -3%;
			z-index: -1;
			display: block;
			width: 179px;
			height: 174px;
			background: url(./../../img/icons/points-bg.png) no-repeat;
			background-size: contain;
		}

		#map {
			width: 100%;
			height: 630px;
			filter: drop-shadow(-4px 4px 40px rgba(0, 0, 0, 0.15));
			border-radius: 20px;
			overflow: hidden;
			transform: translateX(37px);
		}
	}

	&__map-title {
		display: none;
		margin:25px 0 60px;
		padding-left: 30px;
		font-family: var(--fm-1);
	}

	@include desctop-min {
		padding:  70px 0 110px;
	
		&__title {
			margin-bottom: 80px;
		}
		
		&__map-wrap {
			
			&::before {
				bottom: -2.22%;
				left: -10%;
				width: 140px;
				height: 126px;
			}
			#map {
				height: 510px;
				transform: translateX(0);
			}
		}
	}

	@include table {
		padding:  70px 0 90px;
		background: none;
	
		&__title {
			margin-bottom: 50px;
		}
	
		&__row {
			.container {
				flex-direction: column;
			}
		}
	
		&__col {
			width: auto;
		}

		&__textBox {
			padding-left: 30px;
		}

		&__map-title {
			display: block;
		}
	
		&__map-wrap {
			position: static;
	
			&::before {
				display: none;
			}
	
			#map {
				width: 100%;
				height: 500px;
			}
		}
	}

	@include mobile {
		padding:  40px 0 40px;
	
		&__title {
			margin-bottom: 35px;
		}
	
		&__textBox {
			padding-left: 0;
		}

		&__map-wrap {
			#map {
				height: 400px;
				width: auto;
			}
		}
	}
}



