/*~~~~~~~~~~~~~~~~~~~~~~~~~
VARIABLES
~~~~~~~~~~~~~~~~~~~~~~~~~*/

//********** css variables ********** 
:root {
	/*site font*/
	--fm-1: "Montserrat Alternates", sans-serif;
	--fm-2: "Jost", sans-serif;

	/*pallete*/
	--blau-300: #2290B9;
	--blau-400: #3179BC;

	--black-300: #444;

	--color-primary: var(--blau-300);
	--color-secondary: var(--blau-400);
}

//********** scss variablse	********** 
//breakpoints
$desctop: 1920;
$desctop-mid: 1450;
$desctop-min: 1220;
$table: 1124;
$mobile: 768;
$tel: 480;


/***********************Main*/
$duration: 0.3s;
$delay: 0.1s;

