/*~~~~~~~~~~~~~~~~~~~~~~~~~
COMMON BUTTON
~~~~~~~~~~~~~~~~~~~~~~~~~*/
%baseOption {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	font-weight: 300;
	align-items: center;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	transition: all $duration;
}

.btn-arr {
	@extend %baseOption;
	width: 28px;
	height: 18px;

	use {
		fill: #2290B9;
		transition: fill $duration;
	}

	&:hover use {
		fill: #3F3F3F;
	}
}

.btn-txt {
	@extend %baseOption;
	font-weight: 600;
	font-size: 18px;
	color: var(--color-primary);
	transition: color $duration;

	svg {
		margin: 0 0 -0.1em 1em;
		width: 0.98em;
		height: 0.624em;
		fill: var(--color-primary);
		transition: fill $duration;
	}

	&:hover {
		color: #3f3f3f;
		
		svg {
			fill: #3f3f3f;
		}
	}

	&--prev {
		svg {
			margin: 0 1em -0.1em 0;
			width: 0.98em;
			transform: scaleX(-1);
		}
	}

	@include table {
		font-size: 16px;
	}
}

%btn-type {
	position: relative;
	z-index: 1;
	align-items: center;
	overflow: hidden;

	&:hover::before {
		opacity: 1;
	}

	&:hover::after {
		opacity: 0;
	}

	&::before,
	&::after {
		content: "";
		position: absolute;
		z-index: -1;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 101%;
		transition: opacity $duration ease-in;
	}

	svg {
		flex-shrink: 0;
	}
}

.btn-type-1 {
	@extend %baseOption; 
	@extend %btn-type;
	padding:  0 1.166em 0 1.29em;
	height: 2.958em;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	box-shadow: -2px -2px 20px rgba(255, 255, 255, 0.3);
	border-radius: 0.333em;

	&::after {
		background: linear-gradient(88.07deg, #FFFFFF -3.95%, #CFF2FF 93.58%);
	}

	&::before {
		background: linear-gradient(88.07deg, #79ADB8 -3.95%, #9DE4FF 93.58%);
		opacity: 0;
	}
	
	svg {
		margin: 0 0 -0.125em 0.83em;
		width: 1.66em;
		height: 0.75em;
	}

	@include desctop-min {
		font-size: 22px;
	}

	@include table {
		font-size: 20px;
	}

	@include mobile {
		font-size: 16px;
	}
}

.btn-type-2 {
	@extend %baseOption; 
	@extend %btn-type;
	padding:  0 1em 0 1.96em;
	height: 2.85em;
	font-weight: 600;
	font-size: 24px;
	line-height: 1;
	color: #fff;
	box-shadow: 0px 0.166em 1.5em rgba(34, 144, 185, 0.5);
	border-radius: 0.416em;

	&::after,
	&::before {
		transition: none;
	}

	&::after {
		background: linear-gradient(86.78deg, #2E91B7 -16.6%, #2FA4CF 115.84%);
	}

	&::before {
		background: linear-gradient(86.78deg, #025372 -16.6%, #009FDB 115.84%);
		opacity: 0;
	}
	
	svg {
		margin: 0 0 -0.125em 0.83em;
		width: 1.66em;
		height: 0.75em;
	}

	@include desctop-min {
		font-size: 22px;
	}

	@include table {
		font-size: 20px;
	}

	@include mobile {
		font-size: 16px;
	}
}

.btn-type-3 {
	@extend %baseOption; 
	padding: 0 16px;
	height: 3.29em;
	font-weight: 500;
	font-size: 24px;
	line-height: 1;
	color: #555;
	background-color: rgba(208, 242, 255, 1);
	box-shadow: 0 0.16em 0.625em rgba(34, 144, 185, 0.7);
	border-radius: 0.416em;	
	transition: background-color $duration;
	
	&:hover {
		background-color: darken(rgba(208, 242, 255, 1), 12%);
	}
}

.btn-sp {
	@extend %baseOption;
	position: relative;
	padding: 0 10px;
	height: 2.15em;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	font-family: var(--fm-1);
	letter-spacing: 0.2px;
	color: #FFFFFF;
	border-radius: 5px;

	span {
		position: relative;
		z-index: 1;
	}

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.15);
		opacity: 0;
		transition: inherit;
	}

	&:hover::before {
		opacity: 1;
	}

	&--primary {
		background: linear-gradient(116.48deg, #FC5F59 12.64%, #F87570 85.89%);
		box-shadow: -10px 10px 20px rgba(101, 86, 71, 0.2), 5px 5px 92px rgba(233, 69, 63, 0.3), inset 3px 3px 5px rgba(247, 65, 65, 0.8);
		border: 1px solid rgba(157, 94, 94, 0.2);
	}

	&--secondary {
		background: linear-gradient(86.78deg, #3EC2F4 -16.6%, #2FA4CF 115.84%);
		box-shadow: 0px 4px 15px rgba(34, 144, 185, 0.5);
	}
}


