/*~~~~~~~~~~~~~~~~~~~~~~~~~
HEADER
~~~~~~~~~~~~~~~~~~~~~~~~~*/
header {
	position: relative;
	z-index: 100;
	background: rgba(0, 98, 135, 0.45);
	box-shadow: 0 5px 21px rgba(0, 0, 0, 0.16);
	

	@at-root .#{&} {
		
	}
}